@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.mainfont{
  font-family: 'DM Sans', sans-serif;
}
.mainbg{
    background-color: #1CAB55;
}
.bangfont{
  font-family: 'Hind Siliguri', sans-serif;
}
.robofont{
  font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}
.gred{
  background-color: rgb(19, 19, 29);
}
.bg-card{
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: #1CAB55;

  border-width: 2px;
}
.bg-footer{
background-color: #c8ffde;
}
.custom-select {
  -webkit-appearance: none; /* Hide default WebKit dropdown arrow */
  appearance: none; /* Hide default dropdown arrow (for non-WebKit browsers) */
}

.profile{
border-radius: 50%;
}
.bg-gred{
  background-image: linear-gradient( 270.3deg,  rgba(84,212,228,1) 0.2%, rgba(68,36,164,1) 100% );
}

.course-text{
  font-size: 15px;
  font-weight: 500;
}
.bg-course{
  background-image: linear-gradient( 109.6deg,  rgba(254,253,205,1) 11.2%, rgba(163,230,255,1) 91.1% );
}